header {
  display: grid;
  margin: 4rem 2rem;
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Archivo Narrow';
    
    div {
      padding: 0.5rem 0.8rem;
      @include customShadow(0.5rem);
  
      h2 {
          border-radius: 10px;
          color: #262626;
          background-color: aquamarine;
          font-size: 2rem;
      }
    }
  }
}

section.articles{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem,1fr));
    gap: 2rem;
    min-width: 30rem;
  
    @include setDisplayWidth(90%, 0); 
  
  
    article{
      background-color: rgb(238, 209, 209);
      @include customShadow(0.5rem);
      font-size: 1.5rem;

      img{
        width: 100%;
        border: 3px solid #262626;
        border-radius: 15px;
      }
  
      .info {
        border:2px solid #262626;
        border-radius: 5px;
        padding-bottom: 8px;

        .article-intro {
          font-weight: 600;
          font-size: 1.2rem;
        }

        p {
            padding: 0.5rem;
        }

        a {
            padding: 0.5rem;
            border: 1px solid #262626;
            background-color: beige;
            border-radius: 10px;
            font-size: 2rem;
        }
    
        a:hover {
            border-radius: 5px;
            border-bottom: 2px solid #262626;
            background-color: rgba(218, 215, 88, 0.904);
            border: 0.2px solid rgba(0, 0, 0, 0.6);
            box-shadow: -0.3rem 0.3rem 0 0 rgba(0, 0, 0, 0.2);
        }
    }
    }
  }

  @media(max-width: 700px) {
    section.articles {
      article {
          font-size: 0.8rem;

          .info {
            a {
              font-size: 1rem;
            }
          }
      }
    }
  }